<ion-view view-title="Donation List">
  <ion-content>
	<ion-list>
		<ion-item class="item item-divider item-calm">
		<div class="row">
			<div class="col">Name</div>
			<div class="col">Expiration Date</div>
		</div>
		</ion-item>
		<ion-item class="item {{med.expired ? 'item-assertive' : ''}}" collection-repeat="med in meds.all()" item-width="100%">
			<div class="row">
				<div class="col">{{med.name}}</div>
				<div class="col">{{formatDate(med.exp)}}</div>
			</div>
			<ion-option-button class="button-assertive" ng-click="remove(med)">
				Delete
			</ion-option-button>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
