<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!--<ion-tab title="Medicine List" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/medicinelist">
    <ion-nav-view name="tab-medicine"></ion-nav-view>
  </ion-tab>-->
  
    <!-- Chats Tab -->
  <!--<ion-tab title="Donation List" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/donationlist">
    <ion-nav-view name="tab-donation"></ion-nav-view>
  </ion-tab>-->
  
    <!-- Chats Tab -->
  <ion-tab title="Info" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
